* {
	box-sizing: border-box;
	--board_color: #bd986b;
	--bg_color: #8e8741;
	--blue: #3c5559;
	--selected: #fbeec1;
	--red: #ff6961;
	--green: #c1e1c1;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: var(--bg_color);
	padding: 1rem;
	font-family: "Martel", serif;
	color: white;
	height: 100%;
}

.backing,
.front {
	width: 100%;
	aspect-ratio: 1;
}

.backing.flipped {
	display: none;
}
#game-board {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 0.6rem;
	width: 100%;
	padding: 1.5rem;
	border-radius: 3rem;
	background-color: var(--board_color);
}

#leader-board,
#notes {
	margin-top: 1rem;
	flex-direction: column;
	display: flex;
	align-items: center;
	padding: 1.5rem;
	border-radius: 3rem;
	background-color: var(--board_color);
}

#title-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.9rem;
	margin-bottom: 1.25rem;
	background-color: var(--board_color);
	border-radius: 1.25rem;
	width: 100%;
}

#error {
	background-color: var(--red);
	padding: 1rem;
	border-radius: 1rem;
}

.icon {
	margin: 0.5rem;
	font-size: 2rem;
}

.icon-wrapper {
	margin-right: auto;
	font-size: 2rem;
	display: flex;
	align-items: center;
}
#username {
	font-size: inherit;
}

.card {
	aspect-ratio: 1;
	width: 5.5rem;
	border-radius: 10%;
	overflow: hidden;
	cursor: pointer;
}

#login-field {
	display: flex;
	padding: 1.5rem;
	border-radius: 3rem;
	background-color: var(--board_color);
	font-size: 1.4rem;
	justify-content: center;
}

.btn {
	background-color: var(--blue);
	font-size: 1.4rem;
	border: 0;
	border-radius: 1rem;
	padding: 0.8rem;
	cursor: pointer;
	margin: 0.1rem;
	font-family: inherit;
	color: inherit;
}

.btn:hover {
	background-color: var(--selected);
}

.selected {
	background-color: var(--selected);
}

#winner-screen,
#succes {
	background-color: var(--green);
	border-radius: 1rem;
	padding: 1rem;
	width: 100%;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

#notes a {
	text-decoration: underline;
}
#login-selector {
	background-color: var(--selected);
	border-radius: 1rem;
	margin-left: auto;
	margin-right: auto;
}
#login-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 1.5rem;
}

#login-form > * {
	margin: 0.5rem;
}

h1 {
	margin: 0 auto;
}

ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
	width: 20rem;
	display: block;
	color: black;
}

li {
	background-color: var(--blue);
	padding: 1rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

li:first-child {
	background-color: var(--green);
}

input {
	font-size: 1.3rem;
	width: 100%;
	border-radius: 1rem;
	border: 0;
	padding: 0.5rem;
}

label {
	background-color: var(--blue);
	width: fit-content;
	padding: 0.5rem;
	border-radius: 1rem;
}

/* laptops */
@media only screen and (min-width: 994px) {
	:root {
		font-size: 16px;
	}

	.wrapper {
		width: 50%;
	}
}

/* big screens */
@media only screen and (min-width: 1300px) {
	:root {
		font-size: 23px;
	}
}

/* tablets */
@media only screen and (max-width: 994px) {
	:root {
		font-size: 25px;
	}
	#title-bar {
		margin-bottom: 0.5 rem;
	}
}
/* phones */
@media only screen and (max-width: 674px) {
	#game-board {
		grid-template-columns: 1fr 1fr 1fr;
	}
	#title-bar {
		margin-bottom: 0.5 rem;
	}
	:root {
		font-size: 16px;
	}
}
