* {
	box-sizing: border-box;
	--board_color: #4e0c1a;
	--bg_color: #544532;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--bg_color);
}

.backing,
.front {
	width: 100%;
	aspect-ratio: 1;
}

.backing.flipped {
	display: none;
}
#game-board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
	width: fit-content;
	padding: 30px;
	border-radius: 10%;
	background-color: var(--board_color);
}

#title-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 20px;
	background-color: var(--board_color);
	border-radius: 25px;
	color: white;
}

.btn {
	background-color: #113125;
	cursor: pointer;
	padding: 20px;
	border-radius: 25px;
	font-size: x-large;
}

.icon {
	font-size: 3rem;
}
.card {
	aspect-ratio: 1;
	width: 150px;
	border-radius: 10%;
	overflow: hidden;
	cursor: pointer;
	/* background-color: red; */
}
